html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #24243E;
    background-color: #E2DE99;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #41839C !important;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-toggler-icon {
    background-color: #41839C;
}

.navbar-toggler {
    border-color: #41839C;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
}

.btn-primary {
    color: white;
    background-color: #41839C !important;
    border-color: #41839C !important;
    margin-right: 20px;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        box-shadow: 0 0.5rem 1rem rgba(0.15, 0.15, 0.15, 0.15);
        border-color: #258cfb;
        color: white !important; 
        background-color: #41839C !important;
    }

/* Card styles */
.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #41839C;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.card-header {
    background-color: #297B76;
    color: white;
    border-bottom: none;
}

.card-footer {
    background-color: #F5F5F5;
    border-top: 1px solid #ccc;
}

.card-img-top {
    padding: 25px;
    width: auto;
    background-color: #41839C;
    height: 300px;
    /*   object-fit: cover;*/
}

.card img {
    height: 350px;
    width: auto;
}

.card:hover {
    -webkit-box-shadow: 0 0 5px 2px #000;
    -moz-box-shadow: 0 0 5px 2px #000;
    box-shadow: 0 0 5px 2px #000;
}

.card-title,
.card-text {
    color: white; 
    text-align: center;
}

.card-body {
    flex: 1; /* Allow card body to take remaining space */
}

/* Card link styles */
.card-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

    .card-link:hover {
        text-decoration: none; 
        color: inherit; 
    }

.salary-breakdown .breakdown-item {
    border: 1px solid #000; 
    border-radius: 0.5rem; 
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Roth,
#Trad {
    margin-left: 20px;
    margin-right: 20px;
}

.form-group label {
    margin-bottom: 10px;
    margin-top: 10px;
}

form-group radio {
    margin-right: 20px;
    margin-left: 20px;
}

.form-group #ten,
#fifteen,
#twenty,
#Other {
    margin-left: 20px;
}

.form-control input {
    width: 50%;
}

input {
    border: 2px solid #41839C;
}

    input:focus {
        background-color: #41839C;
    }

.assets, .liabilities {
    border: 1px solid #000;
    border-color: #000;
    border-radius: 0.5rem;
    padding: 20px;
}

#tooltip {
    height: 2em;
    width: auto;
}

.networth {
    margin: 10px 10px 10px 10px;
    padding: 20px;
    text-align: center;
}

#back-button {
    margin: 50px, auto, auto, 100px;
    
}

#Monthly,
#Yearly {
    margin-left: 20px;
    margin-right: 20px;
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    /* Adjustments for smaller screens */
    .card {
        margin-left: auto;
        margin-right: auto;
    }

    .card img {
        display: none;
    }
}

@media (min-width: 768px) {
    /* Adjustments for medium to large screens */
    .card {
        margin-left: auto;
        margin-right: auto;
    }
}
