@page
@model FinancialApplication.Pages.BudgetPlannerModel
@{
    ViewData["Title"] = "Budget Planner";
}

<div class="text-center">
    <h1 class="display-4">Budget Planner</h1>
    <p>Use this tool to plan out expense limits and allocate money to needs, wants, and savings.</p>
</div>

<div class="container">
    <a href="/Index"><button class="btn btn-primary" id="back-button" type="button" asp-page="/Index">Back</button></a>
</div>