@page
@model FinancialApplication.Pages.SuggestionModel
@{
}
<div id="suggestions">
    <form asp-page="Suggestions" method="post">
        <label>Enter Suggestion:</label>
        <br />
        <textarea>

        </textarea>
        <button type="submit" class=" btn btn-primary">Submit</button>
    </form>
</div>

<div id="suggestion-table">
</div>