@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}


<div class="text-center">
    <h1 class="display-4">MyMoneyCalcs</h1>
    <p>MyMoneyCalcs is a collection of easy-to-use calculators designed to help you plan and manage your finances more effectively.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="~/SalaryCalculator" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="Images/salarycalc.png" alt="Salary Calculator Image">
                    <div class="card-body">
                        <h4 class="card-title">Salary Calculator</h4>
                        <p class="card-text">Use this tool to calculate your net income after taxes and retirement to see how much spending money you have during each pay period.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="~/RetirementCalculator" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="Images/retirementcalc.png" alt="Retirement Calculator Image">
                    <div class="card-body">
                        <h4 class="card-title">Retirement Calculator</h4>
                        <p class="card-text">Plan for retirement by using this tool to see how much your investing plans will leave you with during retirement and how much you can withdraw per year.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="~/BudgetPlanner" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="Images/budget1.png" alt="Budget Planner Image">
                    <div class="card-body">
                        <h4 class="card-title">Budget Planner</h4>
                        <p class="card-text">Calculates expenses and incomes, displaying the spending categories and budget breakdown for the past month.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="~/TipCalculator" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="Images/tip-icon.png" alt="Tip Calculator IMG">
                    <div class="card-body">
                        <h4 class="card-title">Tip Calculator</h4>
                        <p class="card-text">Use this tool to calculate gratuity based off tip percentage and split checks.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="~/NetWorthCalculator" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="Images/networth.png" alt="Net Worth Calculator IMG">
                    <div class="card-body">
                        <h4 class="card-title">Net Worth Calculator</h4>
                        <p class="card-text">Use this to calculate your personal net worth.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="~/SavingsCalculator" class="card-link">
                <div class="card">
                    <img class="card-img-top" src="Images/savings.png" alt="Savings Calculator IMG">
                    <div class="card-body">
                        <h4 class="card-title">Savings Calculator</h4>
                        <p class="card-text">Use this calculator to determine the future value of a savings account or deposit displayed in an easy-to-read plotted graph.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
