@page
@model FinancialApplication.Pages.RetirementCalculatorModel
@{
    ViewData["Title"] = "Retirement Calculator";
}

<div class="text-center">
    <h1 class="display-4">Retirement Calculator</h1>
    <p>Use this tool to calculate estimated savings for retirement.</p>
</div>

<div class="container">
    <a href="/Index"><button class="btn btn-primary" id="back-button" type="button" asp-page="/Index">Back</button></a>
</div>