@page
@model FinancialApplication.Pages.SuggestionModel
@{
}
<div id="suggestions">
    <form asp-page="Suggestions" method="post">
        <label>Enter Suggestion:</label>
        <textarea>

        </textarea>
        <button type="submit">Submit</button>
    </form>
</div>

<div id="suggestion-table">

</div>
